@import "../../index.scss";

.cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $brightRed;
  margin-top: 2.5rem;
  padding-top: 6.25rem;
  padding-bottom: 6.25rem;
  text-align: center;

  @include breakpoint-up("lg") {
    margin-top: 11.25rem;
    flex-direction: row;
    text-align: left;
    justify-content: space-between;
  }

  h2 {
    width: 100%;
    margin-bottom: 1.5rem;
    color: #fff;
    font-size: 1.75rem;

    @include breakpoint-up("lg") {
      font-size: 2.25rem;
      margin-bottom: 0;
    }
  }

  &__button {
    width: 200px;
  }
}
