@import "../../index.scss";

.header {
  display: flex;
  flex-direction: column;
  padding-bottom: 6.25rem;

  @include breakpoint-up("lg") {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 8rem;
  }

  &__bg {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    width: 85%;

    @include breakpoint-up("lg") {
      width: 45%;
    }
  }

  &__content {
    order: 2;
    text-align: center;

    @include breakpoint-up("lg") {
      order: 1;
      text-align: left;
      margin-right: 5rem;
    }

    h1 {
      font-size: 2.5rem;
      color: $darkBlue;
      margin-bottom: 1rem;

      @include breakpoint-up("xl") {
        font-size: 3.5rem;
        margin-bottom: 2rem;
      }
    }

    p {
      font-size: 1rem;
      color: $darkGrayishBlue;
      margin-bottom: 2rem;
      line-height: 200%;

      @include breakpoint-up("xl") {
        margin-bottom: 2.5rem;
      }
    }
  }

  &__image {
    width: 100%;
    order: 1;

    @include breakpoint-up("lg") {
      order: 1;
    }

    img {
      width: 100%;
    }
  }
}
